*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons{
    margin: 5px;
}

.game-board {
    width: 400px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border:1px solid black;
    height: 40px;
    width: 40px;
}

.tetromino {
    background-color: blue;
}